<h1>Meetup: 1. December 2011</h1>

<p>
    On 1. December 2011 we would like to invite you to the first community meetup of the Munich Node.JS User Group.
    Please sign up for a <strong>free ticket</strong> on Eventbrite to give us a hint how many folks are comming!
</p>

<p>
    &ndash; <a href="http://munichnug.eventbrite.com">Get a free ticket now!</a>
</p>


<h2>What?</h2>
<p>
    On 1. December we have currently two great talks in queue:
</p>
<ul>
    <li>
        <strong>Node.JS introduction</strong><br />
        <em>by <a href="/artikel/speakers#felixg">Felix Geisendörfer</a></em>

        <p>
            Lorem ipsum dolor
        </p>
    </li>


    <li>
        <strong>NPM: The Node.JS package manager</strong><br />
        <em>by <a href="/artikel/speakers#robertk">Robert Kuzelj</a></em>

        <p>
            Lorem ipsum dolor
        </p>
    </li>
</ul>
</p>


<h2>When?</h2>
<p>
    Talks starting at 7pm (the early bird catches the chair! ;) Admission from 6pm.
</p>

<h2>Where?</h2>
<p>
    <strong>TNG Technology Consulting GmbH</strong> <br />
Betastraße 13a <br />
85774 Unterföhring <br />
<br />
    <strong>We with you a nice journey:</strong><br />
   by S-Bahn: Unterföhring (S8)<br />
   by Bus: Linie 233, Haltestelle Betastraße<br />
   by Car: There are parking areas on the left side
</p>

<div id="map" class="map" style="width: 500px; height:500px; position: relative; background-color: rgb(229, 227, 223);">
</div>