<h1>About</h1>

        <p>
        The Munich Node.JS User Group was founded with the idea of an open, <br />
        munich based community of server-side JavaScript developers in mind. <br />
        <br />
        Therefore we founded the Munich Node.JS User Group (MNUG) in November 2011.
        </p>

        <h2>The Team</h2>
        <p>
            Lorem ipsum...
        </p>

        <h3>Christoph Stock</h3>
        <i>Subtitle</i>
        <p>
           {Photo} Short-bio
        </p>


        <h3>Aron Homberg</h3>
        <i>Subtitle</i>
        <p>
           {Photo} Short-bio
        </p>


        <h3>More person names...</h3>
        <i>Subtitle</i>
        <p>
           {Photo} Short-bio
        </p>

        