<h1>The Node.JS User Group Munich</h1>

    {Photo: Do we have one?! - e.g. Node.JS logo instead until we have?}

    <p>
    MNUG is a user group of server-side JavaScript users (amateurs, journeymen and gurus).
    We meet every 2nd month to discuss topics on NodeJS, server-side JavaScript and technologies like MongoDB and CouchDB.
    Meetings take place (almost) on each first Thursday at 19:00 on different locations. We established in October 2011 in Munich.
    </p>

    <p><a href="/artikel/meetups/dezember2011">We would be happy to meet you on our next event on 1. December 2011!</a></p>



<h2>Our aims and objectives</h2>

    <ul>
        <li>to help Munich server-side JavaScript programmers to obtain broader knowledge of Node.JS,
            event-driven programming, document-oriented databases and JavaScript in general</li>
        <li>to help Node.JS developers, users and people interested in the event-driven programming
            to come together for networking</li>
        <li>to organize meetups, trainings, conferences and activities that contribute in strengthening
            the better understanding of programming JavaScript, Node.JS and document-oriented databases.</li>
    </ul>