<h1>Dear Speaker!</h1>
        <p>
        If you want to hold a presentation, or if you have a suggestion for a topic
        just contact us via our discussion group on Google or simply send
        an email to <a href="mailto:team@mnug.de">team@mnug.de</a>.
        </p>

        <h2>We're still searching speakers for 1. December 2011!</h2>

        <p>
            We're currently searching for <strong>another talk</strong> for the MNUG meeting on 1. December 2011!
            Do not hesitate and come up with any interesting topic of the Node.JS world :)
        </p>

<hr />

<h2>Speakers &amp; Talks</h2>
<p>
    We're proud having these speakers on board:

    <ul>
        <a name="felixg"></a>
        <li><strong>Felix Geisendörfer</strong>

            <p>
Felix Geisendörfer is a node.js core developer and has experienced
it's strength and shortcomings first-hand while building transloadit.com.
When not event-looping, he loves unicycling and watching squirrels.
            </p>

        </li>


        <a name="robertk"></a>
        <li><strong>Robert Kuzelj</strong>

            <p>
Robert Kuzelj is a payment expert, entrepreneur and geek.
He has been into software development for the last 20 years
as coach, consultant and developer. From 2004 - 2010 he was
CEO of PAY.ON a Munich based provider of payment gateways.
At the moment Robert prepares 2 new ventures
            </p>

        </li>
    </ul>
</p>