    </div>
    <br clear="all" />
</div>

</div>
  </div>

  <div class="wrapper">
<div id="copyright">
  <p class="fl_left">Copyright &copy; 2011 - Munich NodeJS User Group [MNUG]</p>
  <p class="fl_right">Powered by Extode on NodeJS | Template based on <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a>.</p>
  <br class="clear" />
</div>



  </div>

<center>
    <div class="sponsors">
        <h3>Our sponsors</h3>
        <center>
            <a href="http://www.tngtech.com" target="_blank"><img src="/assets/images/sponsors/tng-logo.jpg"></img></a>
        </center>
    </div>
</center>
  </body>
</html>
